.about-section {
    padding-top: $dip-bottom-padding;
    background: $background-lighter;

    @include tablet {
        padding-top: 15vh;
    }

    @include mobile {
        padding-top: 10vh;
    }
}

.about-container {
    position: relative;
}

.about-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    align-items: center;

    @include tablet {
        flex-direction: column;
    }
}

.about-content-container {
    width: 60%;

    @include tablet {
        width: 100%;
        padding: 20px 0 50px 0;
    }
}

// Section dip
.about-dip {
    background: $background-lighter;
}