.about-section {
    padding-top: $dip-bottom-padding;
    background: $background-lighter;
}

.about-container {
    position: relative;
}

.about-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    align-items: center;
}

.about-content-container {
    width: 60%;
}

// Additional class styles
.about-link {
    text-decoration: none;
    color: $accent-dark;
    font-weight: $medium;
    padding: 0 5px;
    border: 1px solid transparent;
    

    &:hover {
        border-bottom: 1px solid $accent-light;
    }

    &:active, &:focus {
        border: 1px solid $accent-light;
    }
}


// Section dip
.about-dip {
    background: $background-lighter;
}