.about-section {
    padding-top: $dip-bottom-padding;
    background: $background-lighter;
}

.about-container {
    position: relative;
}

.about-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    align-items: center;
}

.about-content-container {
    width: 60%;
}

// Section dip
.about-dip {
    background: $background-lighter;
}