/* Default styles */
img {
    width: 100%;
    height: 100%;
    display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;

    &:focus, &:active {
        outline: none;
    }
}

h1, h2, h3, h4 {
    margin: 0;
}

/* Wrapper styles */
.wrapper {
	max-width: 1600px;
	width: 90%;
    margin: 0 auto;
}

.nav-wrapper {
    max-width: 1600px;
	width: 95%;
    margin: 0 auto;
    
    @include tablet {
        width: 100%;
    }
}

/* Font and Background Styles */
html {
    font-size: 125%;
}

body {
    font-family: $body-font;
    line-height: 1.6;
    color: $accent-dark;
}

h1 {
    font-family: $accent-font;
    font-size: 4rem;
    color: $accent-dark;

    @include mobile {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2.7rem;
    font-weight: $black;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;

    @include tablet {
        font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;
    font-weight: $medium;
    color: $accent-dark;

    @include tablet {
        font-size: 1.7rem;
    }

    @include mobile {
        margin-top: 10px;
        font-size: 1.6rem;
    }

    @include mobile {
        display: none;
    }
}

h4 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: $black;

    @include tablet {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: $regular;

    @include mobile {
        font-size: 1rem;
    }
}

// Additional class styles
.link {
    text-decoration: none;
    color: $accent-dark;
    font-weight: $medium;
    padding: 0 5px;
    border: 1px solid transparent;
    
    &:hover {
        border-bottom: 1px solid $accent-light;
    }

    &:active, &:focus {
        border: 1px solid $accent-light;
    }
}

// Bottom color dips
.dip-bottom {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 55vh;
    -webkit-clip-path: polygon(68% 36%, 0 0, 100% 0);
    clip-path: polygon(68% 36%, 0 0, 100% 0);
    z-index: 30;

    @include tablet {
        height: 20vh;
    }
}

.underline {
    border-bottom: 1px solid $accent-light;
    padding: 0 20px 10px 20px;
}