.header-content-container {
    width: 100%;
    min-height: 80vh;
    position: relative;
    background: $background-darker;
}

.header-dip {
    background: $background-darker;
}

.test {
    padding: 30vh;
    background: $background-lighter;
}