// Header width and background styles
.header-container {
    width: 100%;
    position: relative;
    background: $background-darker;
}

// Header Content flex and padding
.header-content-container {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include tablet {
        padding-top: 80px;
    }

    @include mobile {
        padding-bottom: 40px;
    }

    .logo-content-container {
        width: 100%;
        text-align: center
    }

    .headshot-container {
        width: 400px;
        height: 400px;

        @include mobile {
            width: 300px;
            height: 300px;
        }

        @include final {
            width: 250px;
            height: 250px;
        }
        
        .dev-headshot {
            border-radius: 50%;
            border: 7px solid $accent-light;
        }
    }
}

// ADDITIONAL CLASS STYLES
.down-icon-container {
    padding: 20px 0;

    .down {
        padding: 10px 15px;
        display: block;
        border-radius: 50%;
        border: 2px solid transparent;

        &:focus, &:active {
            border: 2px solid $accent-dark; 
        }

        .down-icon {
            font-size: 2rem;
            color: $accent-light;
            transition: all 300ms;
    
           &:hover {
                transform: scale(1.3);
            }
        }
    }

    @include mobile {
       display: none;
    }
}

// Header dip background
.header-dip {
    background: $background-darker;
}