// Header shape and background styles
.header-container {
    width: 100%;
    min-height: 80vh;
    position: relative;
    background: $background-darker;
}

.header-dip {
    background: $background-darker;
}

// Header Content flex and padding
.header-content-container {
    padding-top: 200px;
}

// TO DELETE
.test {
    padding-top: $dip-padding;
    background: $background-lighter;
}