.work-section {
    padding-top: $dip-bottom-padding;
    background: $background-lighter;
}

.work-display-container {
    width: 90%;
    margin: 70px auto;
    background: $portfolio-display-background;
    border-radius: 2px;
}

// Additional class styles
.work-heading {
    text-align: left;
    margin-left: 25px;
}

// Skills dip
.work-dip {
    background: $background-lighter;
}

.macbook-image {
    width: auto;
    height: auto;
}