// Flex styles
.svg-container {
    width: 40%;
    margin: 0 auto;
}

// SVG Animation
.path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 4s ease-in-out alternate 2s infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// SVG placement
.tower-path {
    transform: translate(20%, 2%);
    
    @include tablet {
      transform: translate(27%, 2%)
    }
}

.screen-path {
  transform: translate(2%, 9%);

  @include tablet {
    transform: translate(8%, 9%)
  }
}

.phone-path {
  transform: translateX(-8%);
}