article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* Default styles */
img {
  width: 100%;
  height: 100%;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:focus, a:active {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0; }

/* Wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto; }

.nav-wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .nav-wrapper {
      width: 100%; } }

/* Font and Background Styles */
html {
  font-size: 125%; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #05386b; }

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 4rem;
  color: #05386b; }
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 2.7rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center; }
  @media (max-width: 900px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #05386b; }
  @media (max-width: 900px) {
    h3 {
      font-size: 1.7rem; } }
  @media (max-width: 600px) {
    h3 {
      margin-top: 10px;
      font-size: 1.6rem; } }
  @media (max-width: 600px) {
    h3 {
      display: none; } }

h4 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 900; }
  @media (max-width: 900px) {
    h4 {
      font-size: 1.3rem; } }

p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400; }
  @media (max-width: 600px) {
    p {
      font-size: 1rem; } }

.link {
  text-decoration: none;
  color: #05386b;
  font-weight: 500;
  padding: 0 5px;
  border: 1px solid transparent; }
  .link:hover {
    border-bottom: 1px solid #5cdb95; }
  .link:active, .link:focus {
    border: 1px solid #5cdb95; }

.dip-bottom {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 55vh;
  -webkit-clip-path: polygon(68% 36%, 0 0, 100% 0);
  clip-path: polygon(68% 36%, 0 0, 100% 0);
  z-index: 30; }
  @media (max-width: 900px) {
    .dip-bottom {
      height: 20vh; } }

.underline {
  border-bottom: 1px solid #5cdb95;
  padding: 0 20px 10px 20px; }

.header-container {
  width: 100%;
  position: relative;
  background: #f3f3f3; }

.header-content-container {
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 900px) {
    .header-content-container {
      padding-top: 80px; } }
  @media (max-width: 600px) {
    .header-content-container {
      padding-bottom: 40px; } }
  .header-content-container .logo-content-container {
    width: 100%;
    text-align: center; }
  .header-content-container .headshot-container {
    width: 400px;
    height: 400px; }
    @media (max-width: 600px) {
      .header-content-container .headshot-container {
        width: 300px;
        height: 300px; } }
    @media (max-width: 375px) {
      .header-content-container .headshot-container {
        width: 250px;
        height: 250px; } }
    .header-content-container .headshot-container .dev-headshot {
      border-radius: 50%;
      border: 7px solid #5cdb95; }

.down-icon-container {
  padding: 20px 0; }
  .down-icon-container .down {
    padding: 10px 15px;
    display: block;
    border-radius: 50%;
    border: 2px solid transparent; }
    .down-icon-container .down:focus, .down-icon-container .down:active {
      border: 2px solid #05386b; }
    .down-icon-container .down .down-icon {
      font-size: 2rem;
      color: #5cdb95;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
      .down-icon-container .down .down-icon:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }
  @media (max-width: 600px) {
    .down-icon-container {
      display: none; } }

.header-dip {
  background: #f3f3f3; }

.skip-link {
  position: absolute;
  right: -1000px;
  top: 5%;
  z-index: 999;
  background: rgba(243, 243, 243, 0.8);
  border: 2px solid #05386b;
  color: #5cdb95;
  padding: 10px; }

.skip-link:focus {
  right: 5%;
  border: 2px solid #05386b; }

@media (max-width: 900px) {
  .nav-button-container {
    z-index: 60;
    position: fixed;
    top: 2%;
    left: 2%; } }

.hamburger-menu {
  border: 2px solid transparent;
  border-radius: 50%;
  background: rgba(243, 243, 243, 0.8);
  padding: 20px; }
  @media (max-width: 600px) {
    .hamburger-menu {
      padding: 10px; } }
  .hamburger-menu:active, .hamburger-menu:focus {
    border-color: #05386b; }
  .hamburger-menu .menu-bar {
    border-radius: 2px;
    display: block;
    margin: 3px auto;
    width: 30px;
    height: 5px;
    background: #5cdb95;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms; }
  .hamburger-menu .open.bar3 {
    display: none; }
  .hamburger-menu .open.bar1 {
    -webkit-transform: rotate(45deg) translate(3px, 4px);
    -ms-transform: rotate(45deg) translate(3px, 4px);
    transform: rotate(45deg) translate(3px, 4px);
    border-radius: 0; }
  .hamburger-menu .open.bar2 {
    -webkit-transform: rotate(-45deg) translate(2.5px, -2px);
    -ms-transform: rotate(-45deg) translate(2.5px, -2px);
    transform: rotate(-45deg) translate(2.5px, -2px);
    border-radius: 0; }

.nav-container {
  padding: 20px 0 10px 0;
  width: 100%;
  position: fixed;
  z-index: 40;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

.nav-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90%;
  left: 110%;
  top: 30px;
  margin: 0;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  @media (max-width: 900px) {
    .nav-list {
      top: 0;
      bottom: 0;
      right: 0;
      left: 110%;
      height: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #f3f3f3;
      z-index: 50; } }
  .nav-list .nav-item {
    margin: 0 5%; }
    .nav-list .nav-item .nav-anchor {
      padding: 10px;
      color: #05386b;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.3rem;
      border: 2px solid transparent; }
      @media (max-width: 900px) {
        .nav-list .nav-item .nav-anchor {
          font-size: 2rem; } }
      .nav-list .nav-item .nav-anchor:hover {
        border-bottom: 2px solid #5cdb95; }
      .nav-list .nav-item .nav-anchor:active, .nav-list .nav-item .nav-anchor:focus {
        border: 2px solid #5cdb95; }

.show-nav-list {
  left: 10%; }
  @media (max-width: 900px) {
    .show-nav-list {
      left: 0; } }

.show-nav-container {
  background: rgba(243, 243, 243, 0.8); }
  @media (max-width: 900px) {
    .show-nav-container {
      background: transparent; } }

.svg-container {
  width: 40%;
  margin: 0 auto; }

.path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: draw 4s ease-in-out alternate 2s infinite;
  animation: draw 4s ease-in-out alternate 2s infinite; }

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

@keyframes draw {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

.tower-path {
  -webkit-transform: translate(20%, 2%);
  -ms-transform: translate(20%, 2%);
  transform: translate(20%, 2%); }
  @media (max-width: 900px) {
    .tower-path {
      -webkit-transform: translate(27%, 2%);
      -ms-transform: translate(27%, 2%);
      transform: translate(27%, 2%); } }

.screen-path {
  -webkit-transform: translate(2%, 9%);
  -ms-transform: translate(2%, 9%);
  transform: translate(2%, 9%); }
  @media (max-width: 900px) {
    .screen-path {
      -webkit-transform: translate(8%, 9%);
      -ms-transform: translate(8%, 9%);
      transform: translate(8%, 9%); } }

.phone-path {
  -webkit-transform: translateX(-8%);
  -ms-transform: translateX(-8%);
  transform: translateX(-8%); }

.about-section {
  padding-top: 30vh;
  background: white; }
  @media (max-width: 900px) {
    .about-section {
      padding-top: 15vh; } }
  @media (max-width: 600px) {
    .about-section {
      padding-top: 10vh; } }

.about-container {
  position: relative; }

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 900px) {
    .about-flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.about-content-container {
  width: 60%; }
  @media (max-width: 900px) {
    .about-content-container {
      width: 100%;
      padding: 20px 0 50px 0; } }

.about-dip {
  background: white; }

.skills-section {
  padding-top: 30vh;
  background: #f3f3f3; }
  @media (max-width: 900px) {
    .skills-section {
      padding-top: 15vh; } }
  @media (max-width: 600px) {
    .skills-section {
      padding-top: 10vh; } }

.skills-container {
  width: 100%;
  position: relative; }

.skills-intro-container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 900px) {
    .skills-intro-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.skills-intro-content-container {
  width: 50%; }
  @media (max-width: 900px) {
    .skills-intro-content-container {
      width: 100%;
      padding: 20px 0 50px 0; } }

.skills-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; }

.skills-item {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: calc(100% / 3);
  margin-top: 26px; }
  @media (max-width: 900px) {
    .skills-item {
      font-size: 1.5rem; } }
  @media (max-width: 600px) {
    .skills-item {
      font-size: 1rem; } }

.skills-icon {
  display: block;
  margin-bottom: 5px; }

.skills-dip {
  background: #f3f3f3; }

.work-section {
  padding-top: 20vh;
  background: white; }
  @media (max-width: 900px) {
    .work-section {
      padding-top: 15vh; } }
  @media (max-width: 600px) {
    .work-section {
      padding-top: 10vh; } }

.work-container {
  position: relative; }

.work-display-container {
  width: 90%;
  margin: 70px auto;
  padding: 30px;
  background: rgba(92, 219, 149, 0.6);
  border-radius: 5px; }
  @media (max-width: 900px) {
    .work-display-container {
      width: 100%;
      padding: 20px;
      margin: 40px auto 60px auto; } }
  @media (max-width: 600px) {
    .work-display-container {
      padding: 20px 10px; } }

.display-flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-animation-name: fade 800ms;
  -webkit-animation: fade 800ms;
  animation: fade 800ms;
  position: relative; }

.work-heading {
  text-align: left;
  margin-left: 25px; }
  @media (max-width: 900px) {
    .work-heading {
      text-align: center;
      margin-left: 0; } }

.macbook-display {
  margin: 30px auto 10px auto;
  width: 50%; }
  @media (max-width: 900px) {
    .macbook-display {
      width: 80%; } }

.underline-portfolio-header {
  padding: 0 10px 8px 0;
  border-bottom: 1px solid white; }

.project-skills-para {
  margin: 10px 0;
  font-weight: 700; }
  @media (max-width: 900px) {
    .project-skills-para {
      font-size: 1rem; } }
  @media (max-width: 600px) {
    .project-skills-para {
      display: none; } }

.project-description {
  margin-top: 0; }
  @media (max-width: 900px) {
    .project-description {
      font-size: 1rem; } }
  @media (max-width: 600px) {
    .project-description {
      margin-top: 20px;
      font-size: 0.8rem; } }
  @media (max-width: 375px) {
    .project-description {
      font-size: 0.7rem; } }

.display-navigation {
  text-align: center; }

.display-nav-button {
  font-size: 2rem;
  background: transparent;
  color: #05386b;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 5px 20px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms; }
  .display-nav-button:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .display-nav-button:active, .display-nav-button:focus {
    border-color: #05386b; }

.back-button {
  margin-right: 30px; }

.forwards-button {
  margin-left: 30px; }

.view-online {
  margin: 30px 0;
  text-align: center;
  width: 100%; }
  .view-online .view-online-link {
    color: #05386b;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 20px;
    border: 4px solid #05386b;
    margin-right: 10px;
    -webkit-transition: background 500ms, border 500ms border-radius 300ms;
    -o-transition: background 500ms, border 500ms border-radius 300ms;
    transition: background 500ms, border 500ms border-radius 300ms; }
    @media (max-width: 375px) {
      .view-online .view-online-link {
        font-size: 1rem;
        padding: 10px; } }
    .view-online .view-online-link:hover {
      color: #5cdb95;
      background: #05386b;
      border-color: white; }
    .view-online .view-online-link:focus, .view-online .view-online-link:active {
      border-radius: 40px; }

.work-dip {
  background: white; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.contact-section {
  padding-top: 30vh;
  padding-bottom: 80px;
  background: #f3f3f3; }
  @media (max-width: 900px) {
    .contact-section {
      padding-top: 15vh; } }
  @media (max-width: 600px) {
    .contact-section {
      padding-top: 10vh; } }
  @media (max-width: 375px) {
    .contact-section {
      padding-bottom: 20px; } }

.contact-container {
  width: 100%;
  position: relative; }

.contact-flex-container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 900px) {
    .contact-flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.contact-content-container {
  width: 60%; }
  @media (max-width: 900px) {
    .contact-content-container {
      width: 100%;
      padding: 40px 0; } }

form {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    form {
      width: 100%; } }

.form-input {
  border: 4px solid transparent;
  border-bottom: 4px solid #5cdb95; }
  .form-input:focus, .form-input:active {
    border-color: #5cdb95;
    background: white; }

.form-input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #05386b;
  font-weight: 500;
  letter-spacing: 1px; }
  @media (max-width: 900px) {
    .form-input, textarea {
      margin: 20px 0; } }
  .form-input:focus, .form-input:active, textarea:focus, textarea:active {
    background: white; }

textarea {
  border: 4px solid #5cdb95;
  resize: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #05386b;
  font-weight: 500;
  opacity: 0.8; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #05386b;
  font-weight: 500;
  opacity: 0.8; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #05386b;
  font-weight: 500;
  opacity: 0.8; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #05386b;
  font-weight: 500;
  opacity: 0.8; }

.submit-button-container {
  width: 70%;
  margin: 10px auto; }
  .submit-button-container .form-submit-button {
    width: 100%;
    color: #05386b;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 4px;
    font-weight: 900;
    padding: 20px;
    text-transform: uppercase;
    background: #f3f3f3;
    border: 4px solid #05386b;
    -webkit-transition: background 500ms, border 500ms border-radius 300ms;
    -o-transition: background 500ms, border 500ms border-radius 300ms;
    transition: background 500ms, border 500ms border-radius 300ms; }
    .submit-button-container .form-submit-button:hover {
      color: #f3f3f3;
      background: #05386b;
      border-color: #5cdb95; }
    .submit-button-container .form-submit-button:focus, .submit-button-container .form-submit-button:active {
      color: #f3f3f3;
      background: #05386b;
      border-color: #5cdb95;
      border-radius: 40px; }

.contact-heading {
  margin-bottom: 20px; }

footer {
  background: #f3f3f3;
  padding: 40px 0 30px 0;
  border-top: 2px solid #5cdb95; }

.footer-nav-list {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer-nav-list .footer-nav-anchor {
    font-size: 4rem;
    color: #05386b;
    padding: 10px 20px;
    display: block;
    border: 2px solid transparent; }
    .footer-nav-list .footer-nav-anchor:active, .footer-nav-list .footer-nav-anchor:focus {
      border-bottom: 2px solid #5cdb95; }
    @media (max-width: 900px) {
      .footer-nav-list .footer-nav-anchor {
        font-size: 3rem; } }
    @media (max-width: 375px) {
      .footer-nav-list .footer-nav-anchor {
        font-size: 2rem; } }
    .footer-nav-list .footer-nav-anchor .footer-nav-icon {
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
      .footer-nav-list .footer-nav-anchor .footer-nav-icon:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: #5cdb95; }

.footer-copyright {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px; }
