article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Default styles */
a:focus, a:active {
  border: 1px solid transparent; }

img {
  width: 100%;
  height: 100%;
  display: block;
  max-height: 400px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #05386b;
  font-weight: 500;
  padding: 0 5px;
  border: 1px solid transparent; }
  a:hover {
    border-bottom: 1px solid #5cdb95; }
  a:active, a:focus {
    border: 1px solid #5cdb95; }

h1, h2, h3 {
  margin: 0; }

/* Wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto; }

.nav-wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto; }

/* Font and Background Styles */
html {
  font-size: 125%; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  color: #05386b; }

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 4rem;
  color: #05386b; }

h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center; }

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #05386b; }

p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400; }

.dip-bottom {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 55vh;
  -webkit-clip-path: polygon(68% 36%, 0 0, 100% 0);
  clip-path: polygon(68% 36%, 0 0, 100% 0);
  z-index: 30; }

.down-icon-container {
  padding: 20px 0; }
  .down-icon-container .down {
    padding: 10px 15px;
    display: block;
    border-radius: 50%;
    border: 2px solid transparent; }
    .down-icon-container .down:focus, .down-icon-container .down:active {
      border: 2px solid #05386b; }
    .down-icon-container .down .down-icon {
      font-size: 2rem;
      color: #5cdb95;
      -webkit-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
      .down-icon-container .down .down-icon:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }

.underline {
  border-bottom: 1px solid #5cdb95;
  padding: 0 20px 10px 20px; }

.header-container {
  width: 100%;
  position: relative;
  background: #f3f3f3; }

.header-content-container {
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-content-container .logo-content-container {
    width: 100%;
    text-align: center; }
  .header-content-container .headshot-container {
    width: 400px;
    height: 400px; }
    .header-content-container .headshot-container .dev-headshot {
      border-radius: 50%;
      border: 7px solid #5cdb95; }

.header-dip {
  background: #f3f3f3; }

.hamburger-menu {
  border: 2px solid transparent;
  border-radius: 50%;
  background: rgba(243, 243, 243, 0.8);
  padding: 20px;
  z-index: 5; }
  .hamburger-menu:active, .hamburger-menu:focus {
    border-color: #05386b; }
  .hamburger-menu .menu-bar {
    border-radius: 2px;
    display: block;
    margin: 3px auto;
    width: 30px;
    height: 5px;
    background: #5cdb95; }

.nav-container {
  padding: 20px 0 10px 0;
  width: 100%;
  position: fixed;
  z-index: 40;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

.nav-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90%;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  top: 35px;
  margin: 0;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  .nav-list .nav-item {
    margin: 0 5%; }
    .nav-list .nav-item .nav-anchor {
      padding: 10px;
      color: #05386b;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.3rem;
      border: 2px solid transparent; }
      .nav-list .nav-item .nav-anchor:hover {
        border-bottom: 2px solid #5cdb95; }
      .nav-list .nav-item .nav-anchor:active, .nav-list .nav-item .nav-anchor:focus {
        border: 2px solid #5cdb95; }

.show-nav-list {
  -webkit-transform: translateX(5%);
  -ms-transform: translateX(5%);
  transform: translateX(5%); }

.show-nav-container {
  background: rgba(243, 243, 243, 0.8); }

.svg-container {
  width: 40%;
  margin: 0 auto; }

.path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: draw 5s ease-in-out alternate 2s infinite;
  animation: draw 5s ease-in-out alternate 2s infinite; }

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

@keyframes draw {
  from {
    stroke-dashoffset: 500; }
  to {
    stroke-dashoffset: 0; } }

.tower-path {
  -webkit-transform: translate(20%, 2%);
  -ms-transform: translate(20%, 2%);
  transform: translate(20%, 2%); }

.screen-path {
  -webkit-transform: translate(2%, 9%);
  -ms-transform: translate(2%, 9%);
  transform: translate(2%, 9%); }

.about-section {
  padding-top: 30vh;
  background: white; }

.about-container {
  position: relative; }

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about-content-container {
  width: 60%; }

.about-dip {
  background: white; }

.skills-section {
  position: relative;
  padding-top: 30vh;
  background: #f3f3f3; }

.skills-container {
  width: 100%;
  position: relative; }

.skills-intro-container {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skills-intro-content-container {
  width: 50%; }

.skills-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px; }

.skills-item {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: calc(100% / 3);
  margin-top: 26px; }

.skills-icon {
  display: block;
  margin-bottom: 5px; }

.skills-dip {
  background: #f3f3f3; }

.work-section {
  padding-top: 30vh;
  background: white; }

.work-display-container {
  width: 90%;
  margin: 70px auto;
  background: rgba(92, 219, 149, 0.8);
  border-radius: 2px; }

.work-heading {
  text-align: left;
  margin-left: 25px; }

.work-dip {
  background: white; }

.macbook-image {
  width: auto;
  height: auto; }
